.login_btn{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-color:   #690808;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
}

.login_btn:hover{
    -fx-background-color: #8c0a0a;
}